<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
      {%- if page.title -%}
        {{ page.title }} - {{ site.title }}
      {%- else -%}
        {{ site.title }}
      {%- endif -%}
    </title>

    {%-seo title=false-%}
    {%-feed_meta-%}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | relative_url }}">
    <link rel="stylesheet" media="all" href="https://rsms.me/inter/inter.css" type="text/css">
    <link rel="stylesheet" media="all" href="https://rsms.me/inter/inter-display.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}" />
</head>