$code-alder-fg: #6775f1;
$code-blue-fg: #308cce;
$code-cyan-fg: #23a0bc;
$code-teal-fg: #23bcbc;
$code-mint-fg: #23bc85;
$code-green-fg: #2dad59;
$code-yellow-fg: #cfac31;
$code-red-fg: #cf3131;
$code-grey-fg: #8a8d8d;
$code-lightgrey-fg: #aaadad;

$code-alder-bg: #6775f140;
$code-blue-bg: #308cce40;
$code-cyan-bg: #23a0bc40;
$code-teal-bg: #23bcbc40;
$code-mint-bg: #23bc8540;
$code-green-bg: #2dad5940;
$code-yellow-bg: #cfac3140;
$code-red-bg: #cf313140;
$code-grey-bg: #8a8d8d40;
$code-lightgrey-bg: #aaadad40;

@mixin code-highlight-classes {

    // Comment
    .c {
        color: $code-grey-fg;
    }

    // Error
    .err {
        color: $code-red-fg;
    }

    // Keyword
    .k {
        color: $code-teal-fg;
    }

    // Operator
    .o {
        color: $code-lightgrey-fg;
    }

    // Comment.Multiline
    .cm {
        color: $code-grey-fg;
    }

    // Comment.Preproc
    .cp {
        color: $code-grey-fg;
    }

    // Comment.Single
    .c1 {
        color: $code-grey-fg;
    }

    // Comment.Special
    .cs {
        color: $code-grey-fg;
    }

    // Generic.Deleted
    .gd {
        background-color: $code-red-bg;
    }

    // Generic.Deleted.Specific
    .gd .x {
        background-color: $code-red-bg;
    }

    // Generic.Emph
    // .ge {
    // }

    // Generic.Error
    .gr {
        color: $code-red-fg;
    }

    // Generic.Heading
    .gh {
        color: $code-grey-fg;
    }

    // Generic.Inserted
    .gi {
        background-color: $code-green-bg;
    }

    // Generic.Inserted.Specific
    .gi .x {
        background-color: $code-green-bg;
    }

    // Generic.Output
    .go {
        color: $code-grey-fg;
    }

    // Generic.Prompt
    .gp {
        color: $code-grey-fg;
        background-color: $code-grey-bg;
    }

    // Generic.Strong
    // .gs {
    // }

    // Generic.Subheading
    .gu {
        color: $code-grey-fg;
    }

    // Generic.Traceback
    .gt {
        color: $code-red-fg;
    }

    // Keyword.Constant
    .kc {
        color: $code-teal-fg;
    }

    // Keyword.Declaration
    .kd {
        color: $code-teal-fg;
    }

    // Keyword.Pseudo
    .kp {
        color: $code-teal-fg;
    }

    // Keyword.Reserved
    .kr {
        color: $code-teal-fg;
    }

    // Keyword.Type
    .kt {
        color: $code-blue-fg;
    }

    // Literal.Number
    .m {
        color: $code-mint-fg;
    }

    // Literal.String
    .s {
        color: $code-cyan-fg;
    }

    // Name.Attribute
    // .na {
    // }

    // Name.Builtin
    .nb {
        color: $code-teal-fg;
    }

    // Name.Class
    // .nc {
    // }

    // Name.Constant
    // .no {
    // }

    // Name.Entity
    // .ni {
    // }

    // Name.Exception
    // .ne {
    // }

    // Name.Function
    // .nf {
    // }

    // Name.Namespace
    // .nn {
    // }

    // Name.Tag
    // .nt {
    // }

    // Name.Variable
    // .nv {
    // }

    // Operator.Word
    .ow {
        color: $code-lightgrey-fg;
    }

    // Text.Whitespace
    .w {
        color: $code-grey-fg;
    }

    // Literal.Number.Float
    .mf {
        color: $code-mint-fg;
    }

    // Literal.Number.Hex
    .mh {
        color: $code-mint-fg;
    }

    // Literal.Number.Integer
    .mi {
        color: $code-mint-fg;
    }

    // Literal.Number.Oct
    .mo {
        color: $code-mint-fg;
    }

    // Literal.String.Backtick
    .sb {
        color: $code-cyan-fg;
    }

    // Literal.String.Char
    .sc {
        color: $code-cyan-fg;
    }

    // Literal.String.Doc
    .sd {
        color: $code-cyan-fg;
    }

    // Literal.String.Double
    .s2 {
        color: $code-cyan-fg;
    }

    // Literal.String.Escape
    .se {
        color: $code-cyan-fg;
        background-color: $code-cyan-bg;
    }

    // Literal.String.Heredoc
    .sh {
        color: $code-cyan-fg;
    }

    // Literal.String.Interpol
    .si {
        color: $code-cyan-fg;
    }

    // Literal.String.Other
    .sx {
        color: $code-cyan-fg;
    }

    // Literal.String.Regex
    .sr {
        color: $code-cyan-fg;
    }

    // Literal.String.Single
    .s1 {
        color: $code-cyan-fg;
    }

    // Literal.String.Symbol
    .ss {
        color: $code-cyan-fg;
    }

    // Name.Builtin.Pseudo
    .bp {
        color: #999;
    }

    // Name.Variable.Class
    .vc {
        color: #FFCB6B;
    }

    // Name.Variable.Global
    .vg {
        color: #EEFFFF;
    }

    // Name.Variable.Instance
    .vi {
        color: #EEFFFF;
    }

    // Literal.Number.Integer.Long
    .il {
        color: #F78C6C;
    }
}