@import "site-common";

:root {
    --gutter-size: 2.5rem;
}

@media screen and (max-width: 50rem) {
    :root {
        --gutter-size: 1.25rem;
    }
}

body {
    width: calc(100% - var(--gutter-size)*2);
    max-width: 57.5rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

/*
    Post header
*/

.post-header {
    display: grid;
    grid-template:
        "." 12.5rem
        "nav" auto
        "h1" auto / 1fr;
    row-gap: 2.5rem;
}

.post-header > .post-nav {
    grid-area: nav;
}

.post-header > h1 {
    grid-area: h1;
}

/*
    Post nav
*/

.post-nav {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

/*
    Post info
*/

.post-info {
    color: $sub-fg;
}

/*
    Articles
*/

article > * {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

article > *:first-child {
    margin-top: 0;
}

article > h1,
article > h2,
article > h3,
article > h4 {
    margin-top: 5rem;
}

article ul {
    margin-left: 1rem;
    list-style-type: square;
}

article ol {
    margin-left: 1rem;
}

article li {
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
}

article::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: currentColor;
    margin-top: 2.5rem;
}

article img {
    width: calc(100% + var(--gutter-size)*2);
    max-height: 50rem;
    object-fit: contain;
    margin-left: calc(var(--gutter-size)*-1);
}

article figure {
    display: block;
    width: 100%;
}

article figure img {
    width: 100%;
    max-height: 20rem;
}

article iframe {
    width: calc(100% + var(--gutter-size)*2);
	height: auto;
	aspect-ratio: 1.7778;
    margin-left: calc(var(--gutter-size)*-1);
}

article pre,
article code {
    font-family: $font-code;
    background-color: $code-bg;
	background-image: $paper-bg;
    color: $code-fg;
    font-size: $font-size-code;
    tab-size: 4;
}

article code {
    padding: 1px 5px;
}

article pre {
    padding: var(--gutter-size);
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

article div.highlight {
    width: calc(100% + var(--gutter-size)*2);
    margin-left: calc(var(--gutter-size)*-1);
    @include code-highlight-classes;
}

article blockquote {
    padding-left: calc(var(--gutter-size) - 0.5rem);
    border-left: 0.5rem solid $sub-fg;
    font-style: italic;
}

article blockquote > :first-child::before {
    content: "“ ";
}

article blockquote > :last-child::after {
    content: " „";
}

/*
    Footer
*/

footer {
    font-size: 0.75rem;
    margin-bottom: 15rem;
}

footer::after {
    content: "Website theme by Daniel P H Fox.";
}