@import "site-common";

:root {
    --gutter-size: 3.5rem;
}

@media screen and (max-width: 100rem) {
    :root {
		--gutter-size: 2.5rem;
	}
}

@media screen and (max-width: 50rem) {
    :root {
        --gutter-size: 1.25rem;
    }
}

body {
	display: grid;
	--max-width: 100rem;
	--clamped-width: min(100vw, var(--max-width));

	--left-dead-space: ((100vw - var(--clamped-width) * 7 / 5) / 2);
	--home-header-space: (var(--clamped-width) * 2 / 5 - 1.875rem);
	--main-content-space: (var(--clamped-width) * 3 / 5);

	grid-template-areas: "header header content content";
	grid-template-rows: 100%;
	grid-template-columns:
		calc(var(--left-dead-space))
		calc(var(--home-header-space))
		calc(var(--main-content-space))
		1fr;
}

@media screen and (max-width: 80rem) {
    body {
		display: grid;
		--max-width: 100rem;
		--clamped-width: min(100vw, var(--max-width));

		--left-dead-space: ((100vw - var(--clamped-width) * 7 / 5) / 2);
		--home-header-space: (var(--clamped-width) * 2 / 5 - 1.875rem);
		--main-content-space: (var(--clamped-width) * 3 / 5);

		grid-template-areas: "header" "content";
		grid-template-rows: auto auto;
		grid-template-columns: 100%;
	}
}

.post-header {
	grid-area: header;
}
main {
	grid-area: content;
}

/*
    Post header
*/

.post-header {
	padding: var(--gutter-size);
	padding-left: calc(max(var(--gutter-size), var(--left-dead-space) - 10rem));

	position: sticky;
	top: 0;
	height: 100vh;

    display: grid;
    grid-template:
        "nav" auto
		"." minmax(2rem, 1fr)
        "info" auto / 100%;

	color: $header-fg;
	background-color: $header-bg;
	background-image: $paper-bg;
	overflow-x: hidden;
}
.post-header > .post-nav {
    grid-area: nav;
}
.post-header > .post-info {
    grid-area: info;
}

@media screen and (max-width: 80rem) {
    .post-header {
		padding-left: var(--gutter-size);
		position: static;
		height: auto;
	}
}

.post-header > .post-nav {
    display: flex;
	flex-wrap: wrap;
    flex-direction: row;
	justify-content: end;
	font-size: 1.5rem;
    gap: 1em;
	color: $header-fg;
}

@media screen and (max-width: 100rem) {
	.post-header > .post-nav {
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 80rem) and (max-width: 100rem) {
	.post-header > .post-nav {
		flex-direction: column;
		align-items: end;
	}
}

@media screen and (max-width: 50rem) {
	.post-header > .post-nav {
		font-size: 1rem;
	}
}

.post-header > .post-nav > a {
	color: $header-fg;
}



.post-header > .post-nav > a.backlink {
	position: relative;
	font-weight: 700;
}

.post-header > .post-nav > a.backlink::before {
	content: "←";
	position: absolute;
	right: calc(100% + 1rem);
	transition: transform 0.2s ease;
}

.post-header > .post-nav > a.backlink:hover::before {
	transform: translateX(-1rem);
	text-decoration: none;
}

.post-header > .post-info {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	max-width: calc(60rem - var(--gutter-size) * 2);
	justify-self: center;
}

.post-header > .post-info > img {
	width: 10rem;
	height: 10rem;
	border: calc(10rem * 0.05) solid $main-fg;
}

@media screen and (max-width: 50rem) {
	.post-header > .post-info > img {
		width: 6rem;
		height: 6rem;
		border: calc(6rem * 0.05) solid $main-fg;
	}
}

.post-header > .post-info > h1 {
	height: auto;
    font-size: calc(min(min(2rem, 4vh), 6vw));
	text-wrap: balance;
}

/*
	Main
*/
main {
	max-width: 60rem;
	width: 100%;
	padding: var(--gutter-size);
	padding-bottom: 0;
}

@media screen and (max-width: 80rem) {
	main {
		margin: 0 auto;
		padding: var(--gutter-size);
		padding-bottom: 0;
	}
}

.post-warning {
	background-color: $header-bg;
	background-image: $paper-bg;
	width: 100%;
	font-weight: 500;
	padding: 1rem;
	margin-bottom: 1rem;
	color: $header-fg;
}

/*
    Articles
*/

article > * {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

article > *:first-child {
    margin-top: 0;
}

article > *:last-child {
    margin-bottom: 0;
}

article > h1,
article > h2,
article > h3,
article > h4 {
    margin-top: 3rem;
}

article ul {
    margin-left: 1rem;
    list-style-type: square;
}

article ol {
    margin-left: 1rem;
}

article li {
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
}

article::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: currentColor;
    margin-top: 2.5rem;
}

article img {
    width: calc(100% + var(--gutter-size)*2);
    max-height: 50rem;
    object-fit: contain;
    margin-left: calc(var(--gutter-size)*-1);
}

article figure {
    display: block;
    width: 100%;
}

article figure img {
    width: 100%;
    max-height: 20rem;
}

article iframe {
    width: calc(100% + var(--gutter-size)*2);
	height: auto;
	aspect-ratio: 1.7778;
    margin-left: calc(var(--gutter-size)*-1);
}

article pre,
article code {
    font-family: $font-code;
    background-color: $code-bg;
	background-image: $paper-bg;
    color: $code-fg;
    font-size: $font-size-code;
    tab-size: 4;
}

article code {
    padding: 1px 5px;
}

article pre {
    padding: var(--gutter-size);
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

article div.highlight {
    width: calc(100% + var(--gutter-size)*2);
    margin-left: calc(var(--gutter-size)*-1);
    @include code-highlight-classes;
}

article blockquote {
    padding-left: calc(var(--gutter-size) - 0.5rem);
    border-left: 0.5rem solid $sub-fg;
    font-style: italic;
}

article blockquote > :first-child::before {
    content: "“ ";
}

article blockquote > :last-child::after {
    content: " „";
}

/*
    Footer
*/

footer {
    font-size: 0.75rem;
	margin-top: 2rem;
    margin-bottom: var(--gutter-size);
	opacity: 0.2;
	mix-blend-mode: luminosity;
	transition: opacity 0.1s ease;
}

footer::after {
    content: "Website theme by Daniel P H Fox.";
}

footer:hover {
	opacity: 1;
	mix-blend-mode: normal;
}