$grey-0: #0a0d0d;
$grey-1: #1a1d1d;
$grey-2: #2a2d2d;
$grey-3: #3a3d3d;
$grey-4: #4a4d4d;
$grey-5: #5a5d5d;
$grey-6: #6a6d6d;
$grey-7: #7a7d7d;
$grey-8: #8a8d8d;
$grey-9: #9a9d9d;
$grey-a: #aaadad;
$grey-b: #babdbd;
$grey-c: #cacdcd;
$grey-d: #dadddd;
$grey-e: #eaeded;
$grey-f: #fafdfd;
$accent: #23bcbc;

$main-bg: $grey-2;
$main-fg: $grey-e;
$sub-fg: $grey-8;

$code-bg: $grey-1;
$code-fg: $grey-c;

$font-body: "Inter var", --system-ui, system-ui, sans-serif;
$font-display: "InterDisplay var", --system-ui, system-ui, sans-serif;
$font-code: "JetBrains Mono", "Consolas", monospace;
$font-size-code: 0.9375rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gutter-size: 2.5rem;
    --home-thumbnail-size: 9.375rem;
}

@media screen and (max-width: 50rem) {
    :root {
        --gutter-size: 1.25rem;
        --home-thumbnail-size: 6rem;
    }
}

@media screen and (max-width: 30rem) {
    :root {
        --home-thumbnail-size: 4rem;
    }
}

body {
    background-color: $main-bg;
    color: $main-fg;
    font-family: $font-body;

    width: calc(100% - var(--gutter-size)*2);
    max-width: 57.5rem;
    margin: 0 auto;

    line-height: 150%;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: $font-display;
}

a {
    color: $accent;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    background-color: $grey-4;
    height: 1px;
}

/*
    Home header
*/

.home-header {
    display: grid;
    grid-template:
        "img" 12.5rem
        "h1" auto
        "h2" auto / 1fr;
    row-gap: 2.5rem;
}

.home-header > a {
    grid-area: img;

    display: block;
    width: max-content;
    height: 100%;
    margin-left: auto;
}

.home-header > a > img {
    height: 100%;
    margin-top: -0.5rem;
    mix-blend-mode: luminosity;
    transition: transform 0.2s ease;
}

.home-header > a:hover > img {
    transform: translateY(0.5rem);
    mix-blend-mode: normal;
}

/*
    Post header
*/

.post-header {
    display: grid;
    grid-template:
        "." 12.5rem
        "nav" auto
        "h1" auto / 1fr;
    row-gap: 2.5rem;
}

.post-header > .post-nav {
    grid-area: nav;
}

.post-header > h1 {
    grid-area: h1;
}

/*
    Post nav
*/

.post-nav {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

/*
    Post info
*/

.post-info {
    color: $sub-fg;
}

/*
    Post list + entries
*/

.post-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.post-list-entry {
    display: grid;

    grid-template:
        "img title" auto
        "img blurb" auto
        "img date" auto
        "img ." 1fr / auto 1fr;
    row-gap: 0.625rem;
    column-gap: 2.5rem;
}

@media screen and (max-width: 30rem) {
    .post-list-entry {
        grid-template:
            "img title" auto
            "img date" auto
            "img ." auto
            "blurb blurb" auto / auto 1fr;
        column-gap: 1.25rem;
    }
}

.post-list-entry > a {
    display: contents;
    color: inherit;
}

.post-list-entry > a > img {
    grid-area: img;
    width: var(--home-thumbnail-size);
    aspect-ratio: 1;
    object-fit: cover;
}

.post-list-entry > a > h2 {
    grid-area: title;
}

.post-list-entry > a > p {
    grid-area: blurb;
    max-height: 4.5rem;
    overflow: hidden;
}

.post-list-entry > a > time {
    grid-area: date;
    color: $sub-fg;
}

/*
    Articles
*/

article::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: currentColor;
    margin-top: 2.5rem;
}

article p {
    margin-bottom: 2.5rem;
}

article img {
    width: calc(100% + var(--gutter-size)*2);
    margin-left: calc(var(--gutter-size)*-1);
}

article pre,
article code {
    font-family: $font-code;
    background-color: $code-bg;
    color: $code-fg;
    font-size: $font-size-code;
}

article code {
    padding: 1px 5px;
}

article pre {
    padding: var(--gutter-size);
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

article .highlight {
    width: calc(100% + var(--gutter-size)*2);
    margin-left: calc(var(--gutter-size)*-1);
    padding-bottom: 2.5rem;
    @include code-highlight-classes;
}

/*
    Footer
*/

footer {
    font-size: 0.75rem;
    margin-bottom: 15rem;
}

footer::after {
    content: "Website theme by Elttob.";
}